.users table {
    width: 100%;
}

.users td {
    text-align: center;
    padding: 5px 5px;
}

.users th {
    background: #b3c1ce;
    text-align: center;
    padding: 5px 5px;
}

.users table, th, tr, td {
    border: 1px solid black;
    text-align: center;
    padding: 5px 5px;
}

td.enabled {
    background-color: lightgreen;
}

td.disabled {
    background-color: red;
    font-weight: bold;
}

.avatar {
    max-height: 60px;
    max-width: 60px;
}